name: 'Tests: node.js < 10'

on: [pull_request, push]

jobs:
  tests:
    uses: ljharb/actions/.github/workflows/node.yml@main
    with:
      range: '< 10'
      type: minors
      after_install: sed -i.bak -e 's/var pexec = process\.execArgv/var pexec = ["--stack-size=8000"].concat(process.execArgv)/' -e 's/process\.execArgv\.concat(needExecArgv/["--stack-size=8000"].concat(process.execArgv).concat(needExecArgv/' node_modules/nyc/node_modules/spawn-wrap/shim.js
      command: ./node_modules/.bin/nyc ./node_modules/.bin/tape 'test/**/*.js'

  node:
    name: 'node < 10'
    needs: [tests]
    runs-on: ubuntu-latest
    steps:
      - run: 'echo tests completed'
